body{
  background-color: black;
  background-image: url("../images/background.jpg");
}
h1{
  font-family: Jost, sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
table {
  font-family: Jost, sans-serif;
  font-size: 20px;
  border-spacing: 25px;
  table-layout: fixed;
  width: 100%;
  max-width: 800px;
  color: LightCoral;
  position: relative;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

.venus{
  background-color: rgb(88, 24, 69);
}
.saturn{
  background-color: rgb(144, 12, 63)
}
.jupiter{
  background-color: rgb(88, 24, 69)
}
.neptune{
  background-color: rgb(144, 12, 63)
}
.image{
  height: 60px;
  position: relative;
}
td{
  text-align: center;
  table-layout: fixed;
  height: 60px;
  border-radius: 4px;
}
.unit{
  color: #900C3F;
  font-size: 60%;
}

.super {
  font-size: 70%;
  vertical-align: 6px;
}